header{
    text-align: center;
}

.right{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
    width: 40%;
   
}
.left{
    position: absolute;
  top: 8px;
  left: 16px;
  width: 40%;
  font-size: 18px;
    
}

.vertical-line {
    width: 1px; /* Line width */
    height: 800px; /* Make the line take the full height of the container */
    background-color: #333; /* Line color */
    margin: 0 20px; /* Optional: space around the line */
    margin-left: 50%;
}
.container{
    position: relative;
}
.contact-info {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}